@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Yellowtail', cursive;
    color: lightpink;
}

.logo img{
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

/* h2 {
    margin-bottom: 0;
} */

nav a {
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 600;
}

header a:hover { color: lightpink; }

.imagenPrincipal {
    background-image: url(./Images/foto-helado-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 500px;
}

.fontArtesanal {
    font-family: 'Yellowtail', cursive;
}

#tituloPrincipal {
    font-size: 64px;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    padding: 0px 10px;
}

#subtituloPrincipal {
    font-size: 40px;
    text-shadow: 1px 1px 10px black;
}

.row {
    margin: 0;
}

.col-md-6, .col-lg-6 {
    padding: 0;
    margin: 0;
}

.imagenSecundaria {
    height: 100%;
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.contenedorTexto {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorTextoGrande {
    min-height: 150px;
    text-align: center;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccionImagenTexto {
    display: flex;
}

.info-footer {
    background-color: lightpink;
    min-height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Yellowtail', cursive;
    margin: 20px 0px;
}

.logoFooter img{
    height: 100px;
    border-radius: 50px;
    margin-right: 10px;
}

.info-footer nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.info-footer nav a:hover {
    color: white;
}

/* contacto.html */
.tituloPagina {
    font-size: 48px;
    text-align: center;
    padding: 0px 10px;
}


@media (max-width: 992px) {
    .seccionImagenTexto {
        flex-direction: column-reverse;
    }

    #tituloPrincipal {
        font-size: 45px;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    .contenedorTextoGrande {
        margin-left: 0;
        margin-right: 0;
    }
}
