@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Yellowtail', cursive;
}

.logo img{
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

h2 {
    margin-bottom: 0;
}

nav a {
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 600;
}

header a:hover { color: lightpink; }

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}

.imagenPrincipal {
    background-image: url(./Images/foto-helado-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 500px;
}

.fontArtesanal {
    font-family: 'Yellowtail', cursive;
}

#tituloPrincipal {
    font-size: 64px;
    text-align: center;
    text-shadow: 1px 1px 10px black;
}

#subtituloPrincipal {
    font-size: 40px;
    text-shadow: 1px 1px 10px black;
}

.col-md-6 {
    padding: 0;
}

.imagenSecundaria {
    height: inherit;
    width: 100%;
}

.contenedorTexto {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
